body {
  background-color: #0074e9;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #212529;
}

h1,
h5 {
  font-family: 'Segoe UI Semibold', Tahoma, Geneva, Verdana, sans-serif;
}

.text-primary {
  color: #0d6efd !important;
}

.text-secondary {
  color: #6c757d !important;
}

.fw-bold {
  font-weight: 700 !important;
}

.fw-semibold {
  font-weight: 600 !important;
}

.app-container {
  background-color: #254049;
  min-height: 100vh;
  padding: 4vh 4rem;
}

p {
  font-size: 1rem;
  line-height: 1.5;
  margin-bottom: 0.5rem;
}

.btn-outline-secondary:hover {
  background-color: #0d6efd;
  color: white;
  border-color: #0d6efd;
}

.table {
  background-color: white;
  border-radius: 15px;
  overflow: hidden;
}